body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sketch-drawing-area{
    width: 32rem;
    height: 32rem;
    background-color: black;
}

.row{
    display: flex;
}

.pixel{
    box-sizing: border-box;
    background-color: blue;
    border: 0.1rem solid gray;
}

#container{
    display: flex;
}

#top-menu{
    width: auto;
    height: 5rem;
    border-top-right-radius: 10px;
    border: gray solid 1px;

}

#bottom-menu{
    width: auto;
    height: 5rem;
    border-bottom-right-radius: 10px;
    border: gray solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-clear{
    padding: 20px;
}

#lateral-menu{
    height: auto;
    width: 5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: gray solid 1px;

}