body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sketch-drawing-area{
    width: 32rem;
    height: 32rem;
    background-color: black;
}

.row{
    display: flex;
}

.pixel{
    box-sizing: border-box;
    background-color: white;
    border: 0.1rem solid gray;
}

.pixel:hover{
    cursor: pointer;
}

#container{
    display: flex;
}

#top-menu{
    width: auto;
    height: 5rem;
    border-top-right-radius: 10px;
    border: gray solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#bottom-menu{
    width: auto;
    height: 5rem;
    border-bottom-right-radius: 10px;
    border: gray solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-clear{
    padding: 10px;
    width: 10rem;
    border-radius: 10px;
    font-size: 20px;
    color: gray;
    border: none;
    border: solid gray 1px;
}

#button-clear:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}

#lateral-menu{
    height: auto;
    width: 5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: gray solid 1px;

}

.options-icons{
    width: 30px;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
}

.options-icons:hover{
    cursor:pointer;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}

#lateral-menu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: center;
    
}
#color-input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }